@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "vendor/normalize";
@import "base/manifest";
@import "components/sprite";
h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}
code {
	background: #d3dddd;
	padding: 5px;
	margin-right: 5px;
}
body {
    font-family: $font-text, Arial, sans-serif;
    width: 100%;
    height: 100%;
    line-height: rem(20);
    font-size: rem(16);
}

.ttl{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    h1{
        font-size: rem(40);
        font-weight: bold;
        font-family: $MN, Areal, sans-serif;
    }
    h2{
        font-size: rem(22);
        font-weight: 600;
    }
    h3{
        font-size: rem(20);
        font-weight: bold;
    }
    h4{
        font-size: rem(18);
        font-weight: 600;
    }
    h5{
        font-size: rem(16);
        font-weight: 600;
    }
    h6{
        font-size: rem(14);
        font-weight: 600;
    }
}
.btn{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    button{
        cursor: pointer;
        font-size: rem(16);
        font-weight: 600;
        min-width: 230px;
        height: 35px;
        box-shadow: 0 4px 0 #b33f3e;
        border-radius: 25px;
        border: none;
        padding: 0 30px;
        @include trans(0.05);
        background-color: $btn-color;
        outline: none;
        &:hover{
             background-image: #e55e5e;
             box-shadow: 0 2px 0 #c96464;
        }
        &:active {
            box-shadow: 0 -2px 0 #a55151;
            background-image: #c45c5c;

        }
    }
}
header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    min-height: 65px;
    background-color: $bg-color;
    z-index: 6;
    .flex-header{
       
    
    }
    .logo{
        img{
            width: 81px;
            height: 53px;
        }
        span{
            font-family: "Din Condensed";
            font-size: 30px;
            text-transform: uppercase;
            margin-left: 20px;
        }
    }
    .call-out{
        z-index: 5;
        ul{
            li{
                cursor: pointer;
                margin-left: 15px;
                list-style:none;
                @include trans(0.4);
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}
#fig-two{
    position: absolute;
    right: 0;
    top: 25px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: rgba(255,199,112,0.2);
}
#fig-one{
    position: absolute;
    left: 0;
    bottom: -63px;
    width: 320px;
    height: 320px;
    border-radius: 10px;
    background-color: rgba(231,110,55,0.2);
}
#fig-three{
    position: absolute;
    right: 0px;
    bottom: -60px;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    background-color: rgba(231,110,55,0.1);
}
#fig-four{
    position: absolute;
    bottom:20px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 170px solid transparent;
    border-left: 250px solid  rgba(255,199,112,0.2);
    border-bottom: 170px solid transparent;
}
#fig-five{
    position: absolute;
    right: 50px;
    bottom: 0px;
    border-bottom: 100px solid rgba(231,110,55,0.2);
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    height: 0;
    width: 200px;
}
section{
    &.banner{
        margin-top: 76px;
        min-height: 700px;
        width: 100%;
        background: url(../img/bg.jpg)no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        position: relative;
        .specpred{
            text-align: left;
            position: relative;
            z-index: 2;
            .ttl{
                text-align: left;
                padding-top: 66px;
                h1{
                    color: $wt;
                    font-family: $MN;
                    font-size: rem(40);
                    font-weight: 400;
                    line-height: 47px;
                    text-transform: uppercase;
                    letter-spacing: 0.46px;
                }
            }
            .utp{
                max-width: 405px;
                margin-top: 50px;
                p{
                    color: $wt;
                    font-family: $PNm;
                    font-size: 23px;
                    font-weight: bold;
                    letter-spacing: 0.46px;
                    line-height: rem(33);
                }
            }
        }
        .btn{
            margin-top: 90px;
            text-align: left;
        }
        .car{
            position: absolute;
            right: 130px;
            bottom: 24px;
            img{
                max-width: 1073px;
                width: 100%;
                height: auto;
            }
        }
    }
    &.price-services{
        position: relative;
        .flex-price-services{
            align-items: baseline;
        }
        .table{
            max-width: 560px;
            width: 100%;
        }
        table{
            width: 100%;
            tr{
                background-color: $bg-color;
                th{
                    height: 63px;
                    background-color: $accent-color;
                    color: $wt;
                    border: none;
                    &:first-child{
                        border-top-left-radius: 6px;
                    }
                    &:last-child{
                        border-top-right-radius: 6px;
                    }
                }
                td{
                    text-align: center;
                    height: 34px;
                    border: 2px solid #fff;
                }
                &:nth-child(even) {
                    background: #FFEFD5;
                }
            }
        }
    }
    .services{
        ul{
            list-style: none;
            margin-left: 90px;
            li{
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 0.36px;
                display: flex;
                align-items: center;
                padding: 11px 0;
                .txt{
                    margin-left: 30px;
                }
                img{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
    &.gallery{
        .gallery-slick{
            text-align: center;
            .item{
                img{
                    max-width: 335px;
                    width: 100%;
                    height: 255px;
                    object-fit: cover;
                }
            }
        }
    }
    &.uslugi-review{
        position: relative;
        .flex-uslugi-review{
            align-items: baseline;
        }
        .usl{
            ul{
                list-style: none;
                margin-left: 60px;
                li{
                    font-size: rem(18);
                    letter-spacing: 0.32px;
                    line-height: rem(45);
                    position: relative;
                    &:before{
                        content:"";
                        position: absolute;
                        left: -9px;
                        top: 10px;
                        width: 24px;
                        height: 24px;                       background:url(../img/list.png)no-repeat;
                        z-index: -1;
                    }
                }
            }
        }
        .rev{
            display: flex;
            flex-direction: column;
            align-items: center;
            .item{
                @include trans(0.4);
                position: relative;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                max-width: 450px;
                min-height: 99px;
                border-radius: 4px;
                background-color: #ffefd5;
                .ico{
                    margin-left: 15px;
                    img{}
                }
                .txt{
                    @include trans(0.6);
                    margin: 0 20px;
                    font-style: italic;
                    height: 60px;
                    max-width: 330px;
                    overflow: auto;
                    p{}
                }
                &:hover, &.active{
                    max-width: 560px;
                    width: 100%;
                    min-height: 135px;
                    .txt{
                        height: 95px;
                        max-width: 430px;
                    }
                }
            }
        }
    }
    &.partners{
        background-color: #ffefd5;
        padding-top: 60px;
        padding-bottom: 115px;
        position: relative;
        .oplet{
            justify-content: space-around;
        }
        .item{
            margin: 0 15px;
            img{
                max-width: 225px;
                width: 100%;
                height: auto;
            }
        }
        .info{
            margin-top: 70px;
            font-size: rem(20);
            line-height: rem(35);
        }
    } 
}
footer{
    min-height: 192px;
    background-color: $accent-color;
    .footer-flex{
        padding-top: 20px;
    }
    .logo{
        img{
            width: 81px;
            height: 52px; 
        }
        span{
            margin-left: 20px;
            color: $wt;
            font-family: "DIN Condensed";
            font-size: 30px;
            text-transform: uppercase;
            line-height: 35px;
        }
    }
    .phone{
        img{
            width: 26px;
            height: 26px;
        }
        a{
            margin-left: 16px;
            color: $wt;
            font-size: rem(22);
            font-weight: 600;
            letter-spacing: 0.44px;
            line-height: 28px;
            text-decoration: none;
        }
    }
    .offer{
        margin-top: 30px;
        text-align: center;
        p{
            padding: 7px 0;
            color: #fca178;
            &:first-child{
                color: $wt;
                font-size: 12px;
                letter-spacing: 0.24px;
                line-height: 15px;
            }
            &:last-child{
                color: #f99a70;
            }
            a{
                text-decoration: underline;
                color: #4ECC6D;
            }
        }
    }
}




.over{
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    height: 0;
    @include trans(0.6);
}
.menuha{
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    left: 2000px;
    bottom: 0;
    background:$accent-color;
    padding: 0 20px;
    @include trans(0.6);
    .mmenu{
        max-width: 600px;
        margin: 60px auto;
        position: relative;
        padding: 0;
        li{
            text-align: center;
            list-style: none;
            padding: 6px 0;
            border-bottom: 1px solid $bg-color;
            a{
                color: $wt;
                font-size: rem(22);
                font-weight: 600;
                text-decoration: none;
            }
            &:last-child{
                border-bottom: none;
            }
        }
    }
    #btn-no-menu{
        position: absolute;
        width: 45px;
        height: 45px;
        top: 20px;
        right: 20px;
        border-radius: 100%;
        border: 2px solid $wt;
        cursor: pointer;
        @include trans(0.4);
        &:after{
            position: absolute;
            top: 19px;
            right: 3px;
            content:"";
            width: 35px;
            height: 2px;
            background:$wt;
            transform: rotate(45deg);
        }
        &:before{
            position: absolute;
            top: 19px;
            right: 3px;
            content:"";
            width: 35px;
            height: 2px;
            background:$wt;
            transform: rotate(-45deg);
        }
        &:hover{
            border:2px solid $btn-color;
            background:$bg-color;
        }

    }
}
.menuha-left{
    left: 0 !important;
}
.zet{
    height: 100vh;
}










.stock{
    margin-top: 70px;
    text-align: center;
    p{
    font-size: rem(22);
    font-weight: 600;
    letter-spacing: 0.44px;
    line-height: rem(32);
        strong{
            color: $btn-color;
            font-weight: bold;
            font-size: rem(25);
            letter-spacing: 0.5px;
            line-height: rem(32);
        }
    }
    .btn{
        margin-top: 40px;
    }
}



.number-block{
    text-align: center;
    margin-top: 50px;
    .caps{
        font-size: rem(31);
        font-weight: bold;
        line-height: rem(45);
        a{
            font-size: rem(35);
            color: #FF6563;
        }
    }
    .prisk{
        font-size: rem(22);
        font-weight: bold;
        line-height: rem(25);
    }
}




.image-source-link {
    color: $btn-color;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
        opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
        opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}


.window-modal{
    max-width: 550px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 300px;
    border-radius: 8px;
    padding: 30px 25px;
    background: #FFEFD5;
    form{
        .logo-form{
            img{
                width: 120px;
                height: 49px;
            }
        }
        h2{
            text-align: center;
            font-size: 26px;
        }
        .flex-form{
            display: flex;
            flex-direction: column;
            input{
                margin-bottom: 10px;
                height: 35px;
                width: 100%;
                color: #9c9a9a;
                border: 2px solid #272727;
                border-radius: 3px;
                padding: 0 15px;
                background: none;
                &:first-child{
                    margin-top: 20px;
                }
                &:focus{
                    outline: none;
                    border-color: $accent-color;
                }
                &.error{
                    border-color: #f00;
                }
            }
            .btn{
                margin-top: 35px;
                button{}
            }
        }
    }
    .flex-form-logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}
.persd-sogl{
    margin: 15px 10px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    a{
        color: $link-color;
    }
}
.mfp-bg{
    background: $accent-color !important;
    opacity: 1;
}




.col-two{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    -webkit-column-width: 250px;
    -moz-column-width: 250px;
    column-width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: number;
}








