@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "vendor/normalize";
@import "base/manifest";
@import "components/sprite";
h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}
code {
	background: #d3dddd;
	padding: 5px;
	margin-right: 5px;
}
body {
    font-family: $font-text, Arial, sans-serif;
    width: 100%;
    height: 100%;
    line-height: rem(20);
    font-size: rem(16);
}

.ttl{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    h1{
        font-size: rem(40);
        font-weight: bold;
        font-family: $MN, Areal, sans-serif;
    }
    h2{
        font-size: rem(22);
        font-weight: 600;
    }
    h3{
        font-size: rem(20);
        font-weight: bold;
    }
    h4{
        font-size: rem(18);
        font-weight: 600;
    }
    h5{
        font-size: rem(16);
        font-weight: 600;
    }
    h6{
        font-size: rem(14);
        font-weight: 600;
    }
}
.btn{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    button{
        cursor: pointer;
        font-size: rem(16);
        font-weight: 600;
        min-width: 230px;
        height: 35px;
        box-shadow: 0 4px 0 #b33f3e;
        border-radius: 25px;
        border: none;
        padding: 0 30px;
        @include trans(0.05);
        background-color: $btn-color;
        outline: none;
        &:hover{
             background-image: linear-gradient(180deg,
             rgba(79, 224,155, 1) 0%, 
             rgba(117, 237, 180, 1) 51%, 
             rgba(42, 180, 114, 1) 100%);
             box-shadow: 0 2px 0 #3ca774;
        }
        &:active {
            box-shadow: 0 -2px 0 #2e9564;
            background-image: linear-gradient(180deg,
            rgba(42, 180, 114, 1) 0%, 
            rgba(109, 234, 174, 1) 51%, 
             rgba(42, 180, 114, 1)   100%);

        }
    }
}
header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    min-height: 65px;
    background-color: $bg-color;
    z-index: 5;
    .flex-header{
       
    
    }
    .logo{
        img{
            width: 81px;
            height: 53px;
        }
        span{
            font-family: "Din Condensed";
            font-size: 30px;
            text-transform: uppercase;
            margin-left: 20px;
        }
    }
    .call-out{
        ul{
            li{
                margin-left: 15px;
                list-style:none;
                @include trans(0.4);
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}

section{
    &.banner{
        margin-top: 76px;
        min-height: 700px;
        width: 100%;
        background: url(../img/bg.jpg)no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        position: relative;
        .specpred{
            text-align: left;
            position: relative;
            z-index: 2;
            .ttl{
                text-align: left;
                padding-top: 66px;
                h1{
                    color: $wt;
                    font-family: $MN;
                    font-size: rem(40);
                    font-weight: 400;
                    line-height: 47px;
                    text-transform: uppercase;
                    letter-spacing: 0.46px;
                }
            }
            .utp{
                max-width: 405px;
                margin-top: 50px;
                p{
                    color: $wt;
                    font-family: $PNm;
                    font-size: 23px;
                    font-weight: bold;
                    letter-spacing: 0.46px;
                    line-height: rem(33);
                }
            }
        }
        .btn{
            margin-top: 90px;
            text-align: left;
        }
        .car{
            position: absolute;
            right: 130px;
            bottom: 24px;
            img{
                max-width: 1073px;
                width: 100%;
                height: auto;
            }
        }
    }
    &.price-services{
        .flex-price-services{
            align-items: baseline;
        }
        .table{
            max-width: 560px;
            width: 100%;
        }
        table{
            width: 100%;
            tr{
                background-color: $bg-color;
                th{
                    height: 63px;
                    background-color: $accent-color;
                    color: $wt;
                    border: none;
                    &:first-child{
                        border-top-left-radius: 6px;
                    }
                    &:last-child{
                        border-top-right-radius: 6px;
                    }
                }
                td{
                    text-align: center;
                    height: 34px;
                    border: 2px solid #fff;
                }
                &:nth-child(even) {
                    background: #FFEFD5;
                }
            }
        }
    }
    .services{
        ul{
            list-style: none;
            margin-left: 90px;
            li{
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 0.36px;
                display: flex;
                align-items: center;
                padding: 11px 0;
                .txt{
                    margin-left: 30px;
                }
                img{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
    &.gallery{
        .gallery-slick{
            text-align: center;
            padding-left: 10px;
            .item{
                img{
                    width: 335px;
                    height: 255px;
                    object-fit: cover;
                }
            }
        }
    }
    &.uslugi-review{
        .flex-uslugi-review{
            align-items: baseline;
        }
        .usl{
            ul{
                list-style: none;
                margin-left: 60px;
                li{
                    font-size: rem(18);
                    letter-spacing: 0.32px;
                    line-height: rem(45);
                    position: relative;
                    &:before{
                        content:"";
                        position: absolute;
                        left: -9px;
                        top: 10px;
                        width: 24px;
                        height: 24px;                       background:url(../img/list.png)no-repeat;
                        z-index: -1;
                    }
                }
            }
        }
        .rev{
            display: flex;
            flex-direction: column;
            align-items: center;
            .item{
                @include trans(0.4);
                position: relative;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                max-width: 450px;
                min-height: 99px;
                border-radius: 4px;
                background-color: #ffefd5;
                .ico{
                    margin-left: 15px;
                    img{}
                }
                .txt{
                    @include trans(0.6);
                    margin: 0 20px;
                    font-style: italic;
                    height: 60px;
                    max-width: 330px;
                    overflow: auto;
                    p{}
                }
                &:hover, &.active{
                    max-width: 560px;
                    width: 100%;
                    min-height: 135px;
                    .txt{
                        height: 95px;
                        max-width: 430px;
                    }
                }
            }
        }
    }
    
    
}

















.stock{
    margin-top: 70px;
    text-align: center;
    p{
    font-size: rem(22);
    font-weight: 600;
    letter-spacing: 0.44px;
    line-height: rem(32);
        strong{
            color: $btn-color;
            font-weight: bold;
            font-size: rem(25);
            letter-spacing: 0.5px;
            line-height: rem(32);
        }
    }
    .btn{
        margin-top: 40px;
    }
}



.number-block{
    text-align: center;
    margin-top: 50px;
    .caps{
        font-size: rem(31);
        font-weight: bold;
        line-height: rem(45);
        a{
            font-size: rem(35);
            color: #FF6563;
        }
    }
    .prisk{
        font-size: rem(22);
        font-weight: bold;
        line-height: rem(25);
    }
}


















