<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Частные грузоперевозки | Ростов-на-Дону</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="slick/slick-theme.css">
	<link rel="stylesheet" href="slick/slick.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/media.css">
	<link rel="shortcut icon"  href="favicon.ico">
</head>
<body>
    
    <div id="main">
        <header>
            <div class="container flex flex-header">
                <div class="logo flex"><a href=""><img src="img/logo.svg" alt=""></a><span>Грузоперевозки</span></div>
                <div class="call-out">
                    <ul class="flex">
                        <li><a href=""><img src="img/call_btn.svg" alt=""></a></li>
                        <li><a href=""><img src="img/menu_btn.svg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <section id="one-screen" class="banner">
            <div class="container specpred">
                <div class="ttl">
                    <h1>Проверенный грузоперевозчик <br>по Ростову от 449р/час!</h1>
                </div>
                <div class="utp">
                    <p>По области и России от 15 руб/км. 
                    Грузчики от 250 руб/час <br>
                    Работаю без наценок диспетчера. 
                    Всегда готов договориться. 
                    Частный водитель.</p>
                </div>
                <div class="btn"><button>Получить скидку 10%</button></div>
            </div>
            <div class="car"><img src="img/gasel.png" alt=""></div>
        </section>
        <section id="twoScreen" class="price-services">
            <div class="container flex flex-price-services mt-ttl">
                <div class="col-pol">
                    <div class="ttl">
                        <h2>Цены на основыне направления и услуги</h2>
                    </div>
                    <div class="table mt-block">
                        <table>
                          <tbody>
                            <tr>
                              <th>Направление</th>
                              <th>Цена</th>
                            </tr>
                            <tr>
                              <td>По Ростову</td>
                              <td>от 449 руб/час</td>
                            </tr>
                            <tr>
                              <td>Ростов-на-Дону — Батайск</td>
                              <td>1399руб</td>
                            </tr>
                            <tr>
                              <td>Ростов-на-Дону — Новочеркасск</td>
                              <td>2500руб</td>
                            </tr>
                            <tr>
                              <td>Ростов-на-Дону — Шахты</td>
                              <td>3500руб</td>
                            </tr>
                            <tr>
                              <td>Ростов-на-Дону — Каменск-Шахтинский</td>
                              <td>5000руб</td>
                            </tr>
                            <tr>
                              <td>Ростов-на-Дону — Новошахтинск</td>
                              <td>3500руб</td>
                            </tr>
                            <tr>
                              <td>Ростов-на-Дону — Азов</td>
                              <td>2500руб</td>
                            </tr>
                            <tr>
                              <td>Ростов-на-Дону — Белая Калитва</td>
                              <td>6000руб</td>
                            </tr>
                            <tr>
                              <td>Ростов-на-Дону — Миллерово</td>
                              <td>9000руб</td>
                            </tr>
                            <tr>
                              <td>Ростов-на-Дону — Москва</td>
                              <td>25000руб</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-pol">
                    <div class="ttl">
                        <h2>Вывезем 2 тонны мусора всего за 1470 рублей!</h2>
                    </div>
                    <div class="services mt-block">
                        <ul>
                            <li><span class="img">
                                <img src="img/delivery-schedule.svg" alt=""></span><span class="txt">Работаем быстро и аккуратно</span>
                            </li>
                            <li><span class="img">
                                <img src="img/doorstep.svg" alt=""></span><span class="txt">Упакуем мусор в мешки
</span>
                            </li>
                            <li><span class="img">
                                <img src="img/parcel.svg" alt=""></span><span class="txt">Спустим мусор с этажа</span>
                            </li>
                            <li><span class="img">
                                <img src="img/forklift.svg" alt=""></span><span class="txt">Вывезем мусор насыпью
</span>
                            </li>
                            <li><span class="img">
                                <img src="img/delivery-man.svg" alt=""></span><span class="txt">Работаем с грузчиками и без</span>
                            </li>
                        </ul>
                    </div>
                    <div class="number-block">
                        <div class="caps">Позвоните <a href="tel:8(904) 344-69-99">8(904) 344-69-99</a></div>
                        <div class="prisk">мы везем 2 тонны мусора в течение 1 часа</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="threeScreen" class="gallery mt-ttl">
            <div class="gallery-slick">
                <div class="item">
                    <a href="" title="Into The Blue">
                        <img src="img/preview.png">
                    </a>
                </div>
                <div class="item">
                    <a href="" title="Into The Blue">
                        <img src="img/preview.png">
                    </a>
                </div>
                <div class="item">
                    <a href="" title="Into The Blue">
                        <img src="img/preview.png">
                    </a>
                </div>
                <div class="item">
                    <a href="" title="Into The Blue">
                        <img src="img/preview.png">
                    </a>
                </div>
                <div class="item">
                    <a href="" title="Into The Blue">
                        <img src="img/preview.png">
                    </a>
                </div>
                <div class="item">
                    <a href="" title="Into The Blue">
                        <img src="img/preview.png">
                    </a>
                </div>
                <div class="item">
                    <a href="" title="Into The Blue">
                        <img src="img/preview.png">
                    </a>
                </div>
                <div class="item">
                    <a href="" title="Into The Blue">
                        <img src="img/preview.png">
                    </a>
                </div>
            </div>
        </section>
        <section id="fourScreen" class="uslugi-review mt-ttl">
            <div class="container flex flex-uslugi-review">
                <div class="col-pol">
                    <div class="ttl">
                        <h2>Наши услуги</h2>
                    </div>
                    <div class="usl mt-block">
                        <ul>
                            <li>Перевозки грузов</li>
                            <li>Услуга грузчиков</li>
                            <li>Квартирный переезд</li>
                            <li>Офисный переезд</li>
                            <li>Дачный переезд</li>
                            <li>Грузовое такси</li>
                            <li>Доставка стройматериалов</li>
                            <li>Вывоз мусора</li>
                        </ul>
                    </div>
                    <div class="stock">
                        <p>Не нашли нужную услугу?</p>
                        <p>Позвоните <strong>8(904) 344-69-99</strong> и мы вам поможем!</p>
                        <p>А еще получите скидку при заказе с сайта <strong>10%</strong></p>
                        <div class="btn"><button>Заказать машину</button></div>
                    </div>
                </div>
                <div class="col-pol">
                    <div class="ttl">
                        <h2>Отзывы</h2>
                    </div>
                    <div class="rev mt-block">
                        <div class="item active">
                            <div class="ico"><img src="img/olesya.png" alt=""></div>
                            <div class="txt">
                                <p>Мне понравилась работа этой компании! Мы переезжали совсем недавно, в том месяце. Наняли и грузчиков, оказалось намного дешевле чем в других. Да к тому же работники были ответсвенны к нашим вещам, остались довольны и переезд вышел не таким уж стрессовым как думали! Спасибо!</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ico"><img src="img/natasha.png" alt=""></div>
                            <div class="txt">
                                <p>После приобретения дачного участка пришлось снести несколько построек, мусора при этом накопилось очень много. Думали справиться своими силами, но пришлось прибегнуть к помощи специалистов, так как ни транспорта, ни особого желания везти все эти доски и кирпичи на свалку не было. Конечно, сразу же обратился, все было сделано быстро и грамотно в короткие сроки.Еще раз спасибо!</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ico"><img src="img/yulya.png" alt=""></div>
                            <div class="txt">
                                <p>Огромное спасибо за качественный, быстрый и невероятный сервис! Хочу поблагодарить от души водителя-грузчика Андрея за совершенный переезд моей квартиры: все быстро, четко, вежливо, бережно и аккуратно! Никаких замечаний вообще, я в диком восторге и безумна рада, что заказала переезд именно у вас! Спасибо!</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="ico"><img src="img/kolya.png" alt=""></div>
                            <div class="txt">
                                <p>Добрый день! Хочу выразить благодарность за свой безупречный переезд из РнД в Москву 1 декабря водителю Михаилу.Его высокая ответсвенность за результат, ум, вежливость, аккуратность и профессионализм оставили только самые позитивные впечатления от поездки. Спасибо! Дай Бог всем иметь дело именно с такими людьми.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </div>

    
    
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
	<script src="slick/slick.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.maskedinput.min.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>