$bg-color:#ffc770;
$link-color: #00b;
$wt:#fff;
$bk:#000;
$dark:#ededed;
$accent-color: #e76e37;
$focus-color: $accent-color;
$fz: rem(16);
$h2-fz:rem(22);
$h3-fz:rem(20);
$btn-color: #ff6563;
$placeholder-color: #767676;
$browser-context: 16; // Default
$dir:'../fonts/';

$Mb: 'MuseoCyrl-bold';
$DCm: 'PFDinCondensedMedium';
$PNb: 'ProximaNova-Bold';
$PN: 'ProximaNova-Regular';
$PNi: 'ProximaNova-RegularIt';
$PNs: 'ProximaNova-Semibold';

$MN: 'Museo';
$DN: 'Din Condensed';
$PNm: 'Proxima Nova';
$font-text: $PNm;
    
$normal: normal;
$italic: italic;
$bold: 700;
$semibold: 600;
$medium: 500;
$heavy: 800;
$black: 900;
$light: 300;
$mt:100px;
$mb:60px;